4주차1강 (PPT에 있는 거 다 알고 있기!)

In [ ]:
#타이타닉 데이터 가져오기

import seaborn as sns

d = sns.load_dataset('titanic')
d

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
d.shape

#몇줄 몇칸 있는지 한꺼번에 보여주는 명령어! 괄호 안쓰고 쓴다.

(891, 15)

In [ ]:
d.info()
#데이터에 대한 정보

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
d.describe()

#수치로 된 데이터에 대한 통계값을 보여줌

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
d['survived']

#survived 필드만 조회할 수 있다.

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

In [ ]:
d['survived'].value_counts()

#데이터의 개수를 찍어준다.

0    549
1    342
Name: survived, dtype: int64

In [ ]:
d['sex'].value_counts()

male      577
female    314
Name: sex, dtype: int64

In [ ]:
d['who'].value_counts()

man      537
woman    271
child     83
Name: who, dtype: int64

In [ ]:
d2 = d[ d['survived'] == 1 ]
d2

#생존자 (1)을 찾아서 다시 d로 묶어주면 생존자의 데이터만 볼 수 있음!
#생존자 데이터를 집어넣은 새로운 변수 d2를 만듬

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
d2['who'].value_counts()

#생존자들 중 남자, 여자, 아이의 수

woman    205
man       88
child     49
Name: who, dtype: int64

In [ ]:
d2['class'].value_counts()

#등급별로 몇명이 생존했는지

First     136
Third     119
Second     87
Name: class, dtype: int64

In [ ]:
d['class'].value_counts()

Third     491
First     216
Second    184
Name: class, dtype: int64

In [ ]:
d['class'].value_counts(normalize=True, sort=False)

First     0.242424
Second    0.206510
Third     0.551066
Name: class, dtype: float64

4주차 2강

In [ ]:
#구글 드라이브를 이용해서 데이터를 업로드하고, 파일에서 드라이브 마운트 버튼 눌렀음

In [37]:
import pandas as pd           #파일 가져오기 위해서 판다스 불러움!
apt = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/4주/상도동 아파트 실거래가.xlsx') #상도동 아파트 실거래가 경로복사함!
apt

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 주택거래신고 1588...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,서울특별시 동작구 상도동,533,0533,0000,힐스테이트 상도 프레스티지,84.951,202303,12,"109,000",4,2013,상도로 346-2,NaN,중개거래,서울 동작구
223,서울특별시 동작구 상도동,533,0533,0000,힐스테이트 상도 프레스티지,84.951,202303,23,"113,000",5,2013,상도로 346-2,NaN,중개거래,서울 동작구
224,서울특별시 동작구 상도동,533,0533,0000,힐스테이트 상도 프레스티지,84.951,202304,1,"120,000",9,2013,상도로 346-2,NaN,중개거래,서울 동작구
225,서울특별시 동작구 상도동,533,0533,0000,힐스테이트 상도 프레스티지,84.884,202306,16,"125,500",6,2013,상도로 346-2,NaN,중개거래,서울 동작구
226,서울특별시 동작구 상도동,533,0533,0000,힐스테이트 상도 프레스티지,120.936,202306,24,"160,000",10,2013,상도로 346-2,NaN,중개거래,서울 동작구

In [40]:

apt = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/4주/상도동 아파트 실거래가.xlsx',header = [16])
#16번부터 읽어달라고 해서 필드이름이 가장 위에 나오게 함! (엑셀에서는 17번째 줄인데, 파이썬은 0부터 시작하니까 16으로!)
apt

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 동작구 상도동,903,903,0,e편한세상상도노빌리티,59.7827,202301,7,"104,000",21,2018,만양로 6,NaN,중개거래,서울 동작구
1,서울특별시 동작구 상도동,903,903,0,e편한세상상도노빌리티,84.9704,202301,11,"130,000",15,2018,만양로 6,20230702.0,중개거래,서울 동작구
2,서울특별시 동작구 상도동,903,903,0,e편한세상상도노빌리티,84.9704,202301,18,"129,500",9,2018,만양로 6,NaN,중개거래,서울 동작구
3,서울특별시 동작구 상도동,903,903,0,e편한세상상도노빌리티,59.7827,202302,8,"106,000",28,2018,만양로 6,NaN,중개거래,서울 동작구
4,서울특별시 동작구 상도동,903,903,0,e편한세상상도노빌리티,59.7827,202302,24,"100,000",2,2018,만양로 6,NaN,중개거래,서울 동작구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,서울특별시 동작구 상도동,533,533,0,힐스테이트 상도 프레스티지,84.9510,202303,12,"109,000",4,2013,상도로 346-2,NaN,중개거래,서울 동작구
207,서울특별시 동작구 상도동,533,533,0,힐스테이트 상도 프레스티지,84.9510,202303,23,"113,000",5,2013,상도로 346-2,NaN,중개거래,서울 동작구
208,서울특별시 동작구 상도동,533,533,0,힐스테이트 상도 프레스티지,84.9510,202304,1,"120,000",9,2013,상도로 346-2,NaN,중개거래,서울 동작구
209,서울특별시 동작구 상도동,533,533,0,힐스테이트 상도 프레스티지,84.8840,202306,16,"125,500",6,2013,상도로 346-2,NaN,중개거래,서울 동작구
210,서울특별시 동작구 상도동,533,533,0,힐스테이트 상도 프레스티지,120.9360,202306,24,"160,000",10,2013,상도로 346-2,NaN,중개거래,서울 동작구

In [49]:
#행과 열 데이터 삭제하기 (PPT 9쪽)


apt.drop(index = [3],axis=0,inplace=True)
apt

KeyError: ignored